<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.book2words">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:name=".B2WApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ReaderActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".DictionaryActivity"
                android:label="@string/app_name"/>
        <activity
                android:name=".SplitActivity"
                android:label="@string/app_name"/>

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"/>

        <activity
                android:name=".SplashActivity"
                android:label="@string/app_name"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".services.BookReadService"
                android:exported="false"/>
        <service
                android:name=".services.TranslateService"
                android:exported="false"/>

        <service
                android:name=".services.LibraryService"
                android:exported="false"/>

        <service
                android:name=".services.BookSplitService"
                android:exported="false"/>

        <service android:name="com.backendless.AndroidService" />

        <service android:name=".services.B2WService"/>
    </application>

</manifest>
